CSCI220,CSCI120,CSCI180,CSCI210,MATH111,X,X,X,X,X,X,X,X,X
CSCI220L,X,X,X,X,X,X,X,X,X,X,X,X,XCSCI221,X,X,X,X,CSCI220,CSCI220L,MATH207,X,X,X,X,X,XCSCI230,X,X,X,X,X,X,MATH207,CSCI221,X,X,X,X,XCSCI250,X,X,X,X,CSCI220,CSCI220L,MATH207,X,X,X,X,X,XCSCI320,X,X,X,X,X,X,X,X,MATH207,CSCI221,X,X,X,X,XCSCI340,X,X,X,X,X,X,MATH207,X,CSCI230,CSCI250,X,X,XCSCI350,X,X,X,X,X,X,MATH207,X,X,CSCI250,X,X,XCSCI360,X,X,X,X,X,X,MATH207,X,CSCI230,X,COMM104,X,XCSCI362,X,X,X,X,X,X,MATH207,CSCI221,X,X,COMM104,X,XCSCI392,X,X,X,X,X,X,X,CSCI221,X,X,X,X,XCSCI462,X,X,X,X,X,X,X,X,CSCI230,X,COMM104,CSCI360,CSCI362